<h1> BlogApp </h1>
<div id="intro"><p>Une application de type blog. On peut créer des articles, les modifier ou les supprimer.
Chaque article contient un titre, du contenu, un auteur, une date de création et une date de modification.</p>

<p>Mon premier projet en Ruby on Rails a été réalisé en autonomie en apprenant les bases de Ruby et Ruby on Rails.</p>

<p>Fait par: <strong> DANILA Catalina </strong></p>
<div class= "link"> <%= link_to "Voir les articles", articles_path%></div>
</div>
